//start b-bank
.b-bank
	.b-bank__hdr
		.b-bank__logo
			img(src="assets/images/bank_logo.png", alt="")
		.b-bank__summ На счетах: 
			span.b-bank__total 2 157 500
				i.rubl o
	.b-bank__body.open
		//start b-bank__wrap
		.b-bank__wrap
			//start b-bank__acc-summ 
			.b-bank__acc-summ 192 000
				i.rubl o
			//end b-bank__acc-summ 
			//start b-bank__name
			.b-bank__acc-name
				.b-bank__name
					span Позитрон
					.b-bank__small-number ...002119
				.b-bank__card
					a(href="").gray 9968 24** **** 5496 
					i.visa
				.b-bank__card
					a(href="").gray 4569 78** **** 1456 
					i.mc
				.b-bank__hide
					.b-bank__type_role Зарплатный
					a(href="").line История операций
			//end b-bank__aname
			//start b-bank__type
			.b-bank__type 
				.b-bank__type_number 40817978202000002119
				.b-bank__show
					.b-bank__type_role Зарплатный
					a(href="").line История операций
			//end b-bank__type
		//end b-bank__wrap
		
		//start b-bank__wrap	
		.b-bank__wrap
			//start b-bank__acc-summ
			.b-bank__acc-summ 48 722
				i $
				.b-bank__acc-summ_convert 1 912 560
					i.rubl o
			//end b-bank__acc-summ 
			.b-bank__acc-name
				.b-bank__name
					span На квартиру
					.b-bank__small-number ...002119
				.b-bank__card
					a(href="").gray 7913 54** **** 1215 
					i.visa
				.b-bank__hide
					.b-bank__type_role Сберегательный
					a(href="").line История операций
			//start b-bank__type
			.b-bank__type 
				.b-bank__type_number 40817810302000000658
				.b-bank__show 
					.b-bank__type_role Сберегательный
					a(href="").line История операций
			//end b-bank__type
		//end b-bank__wrap
	.b-bank__toggler.open
		span Свернуть
//end b-bank

//start b-bank
.b-bank
	.b-bank__hdr
		.b-bank__logo Банк 2
		.b-bank__summ На счетах: 
			span.b-bank__total 48 500
				i.rubl o
	.b-bank__body
		//start b-bank__wrap
		.b-bank__wrap
			//start b-bank__acc-summ 
			.b-bank__acc-summ 192 000
				i.rubl o
			//end b-bank__acc-summ 
			//start b-bank__name
			.b-bank__acc-name
				.b-bank__name
					span Позитрон
					.b-bank__small-number ...002119
				.b-bank__card
					a(href="").gray 9968 24** **** 5496 
					i.visa
				.b-bank__card
					a(href="").gray 4569 78** **** 1456 
					i.mc
			//end b-bank__aname
			//start b-bank__type
			.b-bank__type 
				.b-bank__type_number 40817978202000002119
				.b-bank__show
					.b-bank__type_role Зарплатный
					a(href="").line История операций
			//end b-bank__type
		//end b-bank__wrap
		
		//start b-bank__wrap	
		.b-bank__wrap
			//start b-bank__acc-summ
			.b-bank__acc-summ 48 722
				i $
				.b-bank__acc-summ_convert 1 912 560
					i.rubl o
			//end b-bank__acc-summ 
			.b-bank__acc-name
				.b-bank__name
					span На квартиру
					.b-bank__small-number ...002119
				.b-bank__card
					a(href="").gray 7913 54** **** 1215 
					i.visa
			//start b-bank__type
			.b-bank__type 
				.b-bank__type_number 40817810302000000658
				.b-bank__show 
					.b-bank__type_role Сберегательный
					a(href="").line История операций
			//end b-bank__type
		//end b-bank__wrap
	.b-bank__toggler
		span Показать счета
//end b-bank