//start b-bank
.b-bank.b-bank_type
	.b-bank__body.open
		//start b-bank__wrap
		.b-bank__wrap
			//start b-bank__acc-summ 
			.b-bank__acc-summ 192 000
				i.rubl o
			//end b-bank__acc-summ 
			//start b-bank__name
			.b-bank__acc-name
				.b-bank__name
					span Позитрон
					.b-bank__small-number ...002119
				.b-bank__card
					.b-card
						.b-card__number 9968
						.b-card__type.b-card__type_mc
					.b-card
						.b-card__number 3456
						.b-card__type.b-card__type_v
				.b-bank__hide
					.b-bank__type_role Зарплатный
					a(href="").line История операций
			//end b-bank__aname
			//start b-bank__type
			.b-bank__type 
				.b-bank__type_number 40817978202000002119
				.b-bank__show
					.b-bank__type_role Зарплатный
					a(href="").line История операций
			//end b-bank__type
		//end b-bank__wrap
		
		//start b-bank__wrap	
		.b-bank__wrap
			//start b-bank__acc-summ
			.b-bank__acc-summ 48 722
				i $
				.b-bank__acc-summ_convert 1 912 560
					i.rubl o
			//end b-bank__acc-summ 
			.b-bank__acc-name
				.b-bank__name
					span На квартиру
					.b-bank__small-number ...002119
				.b-bank__card
					.b-card
						.b-card__number 9968
						.b-card__type.b-card__type_mc
				.b-bank__hide
					.b-bank__type_role Сберегательный
					a(href="").line История операций
			//start b-bank__type
			.b-bank__type 
				.b-bank__type_number 40817810302000000658
				.b-bank__show 
					.b-bank__type_role Сберегательный
					a(href="").line История операций
			//end b-bank__type
		//end b-bank__wrap
//end b-bank
.b-bank_type__total На счетах: 
	span 192 000
	i.rubl o
	br
	span 48 722
	i $