/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow_down_x = 366px;
$arrow_down_y = 108px;
$arrow_down_offset_x = -366px;
$arrow_down_offset_y = -108px;
$arrow_down_width = 7px;
$arrow_down_height = 4px;
$arrow_down_total_width = 377px;
$arrow_down_total_height = 159px;
$arrow_down_image = '../images/sprite.png';
$arrow_down = 366px 108px -366px -108px 7px 4px 377px 159px '../images/sprite.png';
$exit_x = 368px;
$exit_y = 58px;
$exit_offset_x = -368px;
$exit_offset_y = -58px;
$exit_width = 8px;
$exit_height = 9px;
$exit_total_width = 377px;
$exit_total_height = 159px;
$exit_image = '../images/sprite.png';
$exit = 368px 58px -368px -58px 8px 9px 377px 159px '../images/sprite.png';
$login-link_x = 259px;
$login-link_y = 58px;
$login-link_offset_x = -259px;
$login-link_offset_y = -58px;
$login-link_width = 30px;
$login-link_height = 30px;
$login-link_total_width = 377px;
$login-link_total_height = 159px;
$login-link_image = '../images/sprite.png';
$login-link = 259px 58px -259px -58px 30px 30px 377px 159px '../images/sprite.png';
$logo_x = 0px;
$logo_y = 58px;
$logo_offset_x = 0px;
$logo_offset_y = -58px;
$logo_width = 203px;
$logo_height = 42px;
$logo_total_width = 377px;
$logo_total_height = 159px;
$logo_image = '../images/sprite.png';
$logo = 0px 58px 0px -58px 203px 42px 377px 159px '../images/sprite.png';
$logo_small_x = 0px;
$logo_small_y = 108px;
$logo_small_offset_x = 0px;
$logo_small_offset_y = -108px;
$logo_small_width = 122px;
$logo_small_height = 30px;
$logo_small_total_width = 377px;
$logo_small_total_height = 159px;
$logo_small_image = '../images/sprite.png';
$logo_small = 0px 108px 0px -108px 122px 30px 377px 159px '../images/sprite.png';
$mc_x = 23px;
$mc_y = 146px;
$mc_offset_x = -23px;
$mc_offset_y = -146px;
$mc_width = 19px;
$mc_height = 12px;
$mc_total_width = 377px;
$mc_total_height = 159px;
$mc_image = '../images/sprite.png';
$mc = 23px 146px -23px -146px 19px 12px 377px 159px '../images/sprite.png';
$mc2_x = 130px;
$mc2_y = 108px;
$mc2_offset_x = -130px;
$mc2_offset_y = -108px;
$mc2_width = 35px;
$mc2_height = 22px;
$mc2_total_width = 377px;
$mc2_total_height = 159px;
$mc2_image = '../images/sprite.png';
$mc2 = 130px 108px -130px -108px 35px 22px 377px 159px '../images/sprite.png';
$megafon_x = 211px;
$megafon_y = 58px;
$megafon_offset_x = -211px;
$megafon_offset_y = -58px;
$megafon_width = 40px;
$megafon_height = 39px;
$megafon_total_width = 377px;
$megafon_total_height = 159px;
$megafon_image = '../images/sprite.png';
$megafon = 211px 58px -211px -58px 40px 39px 377px 159px '../images/sprite.png';
$menu_x = 242px;
$menu_y = 108px;
$menu_offset_x = -242px;
$menu_offset_y = -108px;
$menu_width = 22px;
$menu_height = 18px;
$menu_total_width = 377px;
$menu_total_height = 159px;
$menu_image = '../images/sprite.png';
$menu = 242px 108px -242px -108px 22px 18px 377px 159px '../images/sprite.png';
$operation-fail_x = 344px;
$operation-fail_y = 108px;
$operation-fail_offset_x = -344px;
$operation-fail_offset_y = -108px;
$operation-fail_width = 14px;
$operation-fail_height = 14px;
$operation-fail_total_width = 377px;
$operation-fail_total_height = 159px;
$operation-fail_image = '../images/sprite.png';
$operation-fail = 344px 108px -344px -108px 14px 14px 377px 159px '../images/sprite.png';
$operation-processing_x = 0px;
$operation-processing_y = 146px;
$operation-processing_offset_x = 0px;
$operation-processing_offset_y = -146px;
$operation-processing_width = 15px;
$operation-processing_height = 13px;
$operation-processing_total_width = 377px;
$operation-processing_total_height = 159px;
$operation-processing_image = '../images/sprite.png';
$operation-processing = 0px 146px 0px -146px 15px 13px 377px 159px '../images/sprite.png';
$operation-succes_x = 50px;
$operation-succes_y = 146px;
$operation-succes_offset_x = -50px;
$operation-succes_offset_y = -146px;
$operation-succes_width = 14px;
$operation-succes_height = 12px;
$operation-succes_total_width = 377px;
$operation-succes_total_height = 159px;
$operation-succes_image = '../images/sprite.png';
$operation-succes = 50px 146px -50px -146px 14px 12px 377px 159px '../images/sprite.png';
$pencil_x = 322px;
$pencil_y = 108px;
$pencil_offset_x = -322px;
$pencil_offset_y = -108px;
$pencil_width = 14px;
$pencil_height = 14px;
$pencil_total_width = 377px;
$pencil_total_height = 159px;
$pencil_image = '../images/sprite.png';
$pencil = 322px 108px -322px -108px 14px 14px 377px 159px '../images/sprite.png';
$popup_close_x = 334px;
$popup_close_y = 58px;
$popup_close_offset_x = -334px;
$popup_close_offset_y = -58px;
$popup_close_width = 26px;
$popup_close_height = 26px;
$popup_close_total_width = 377px;
$popup_close_total_height = 159px;
$popup_close_image = '../images/sprite.png';
$popup_close = 334px 58px -334px -58px 26px 26px 377px 159px '../images/sprite.png';
$print_x = 216px;
$print_y = 108px;
$print_offset_x = -216px;
$print_offset_y = -108px;
$print_width = 18px;
$print_height = 19px;
$print_total_width = 377px;
$print_total_height = 159px;
$print_image = '../images/sprite.png';
$print = 216px 108px -216px -108px 18px 19px 377px 159px '../images/sprite.png';
$reload_x = 297px;
$reload_y = 58px;
$reload_offset_x = -297px;
$reload_offset_y = -58px;
$reload_width = 29px;
$reload_height = 29px;
$reload_total_width = 377px;
$reload_total_height = 159px;
$reload_image = '../images/sprite.png';
$reload = 297px 58px -297px -58px 29px 29px 377px 159px '../images/sprite.png';
$small-hamburger_x = 296px;
$small-hamburger_y = 108px;
$small-hamburger_offset_x = -296px;
$small-hamburger_offset_y = -108px;
$small-hamburger_width = 18px;
$small-hamburger_height = 15px;
$small-hamburger_total_width = 377px;
$small-hamburger_total_height = 159px;
$small-hamburger_image = '../images/sprite.png';
$small-hamburger = 296px 108px -296px -108px 18px 15px 377px 159px '../images/sprite.png';
$star_x = 272px;
$star_y = 108px;
$star_offset_x = -272px;
$star_offset_y = -108px;
$star_width = 16px;
$star_height = 16px;
$star_total_width = 377px;
$star_total_height = 159px;
$star_image = '../images/sprite.png';
$star = 272px 108px -272px -108px 16px 16px 377px 159px '../images/sprite.png';
$status-fail_x = 0px;
$status-fail_y = 0px;
$status-fail_offset_x = 0px;
$status-fail_offset_y = 0px;
$status-fail_width = 159px;
$status-fail_height = 50px;
$status-fail_total_width = 377px;
$status-fail_total_height = 159px;
$status-fail_image = '../images/sprite.png';
$status-fail = 0px 0px 0px 0px 159px 50px 377px 159px '../images/sprite.png';
$status-succes_x = 167px;
$status-succes_y = 0px;
$status-succes_offset_x = -167px;
$status-succes_offset_y = 0px;
$status-succes_width = 210px;
$status-succes_height = 50px;
$status-succes_total_width = 377px;
$status-succes_total_height = 159px;
$status-succes_image = '../images/sprite.png';
$status-succes = 167px 0px -167px 0px 210px 50px 377px 159px '../images/sprite.png';
$toggle_x = 368px;
$toggle_y = 75px;
$toggle_offset_x = -368px;
$toggle_offset_y = -75px;
$toggle_width = 7px;
$toggle_height = 4px;
$toggle_total_width = 377px;
$toggle_total_height = 159px;
$toggle_image = '../images/sprite.png';
$toggle = 368px 75px -368px -75px 7px 4px 377px 159px '../images/sprite.png';
$visa_x = 72px;
$visa_y = 146px;
$visa_offset_x = -72px;
$visa_offset_y = -146px;
$visa_width = 21px;
$visa_height = 8px;
$visa_total_width = 377px;
$visa_total_height = 159px;
$visa_image = '../images/sprite.png';
$visa = 72px 146px -72px -146px 21px 8px 377px 159px '../images/sprite.png';
$visa2_x = 173px;
$visa2_y = 108px;
$visa2_offset_x = -173px;
$visa2_offset_y = -108px;
$visa2_width = 35px;
$visa2_height = 22px;
$visa2_total_width = 377px;
$visa2_total_height = 159px;
$visa2_image = '../images/sprite.png';
$visa2 = 173px 108px -173px -108px 35px 22px 377px 159px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
