/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow_down_x = 115px;
$arrow_down_y = 204px;
$arrow_down_offset_x = -115px;
$arrow_down_offset_y = -204px;
$arrow_down_width = 7px;
$arrow_down_height = 4px;
$arrow_down_total_width = 244px;
$arrow_down_total_height = 226px;
$arrow_down_image = '../images/sprite.png';
$arrow_down = 115px 204px -115px -204px 7px 4px 244px 226px '../images/sprite.png';
$exit_x = 218px;
$exit_y = 176px;
$exit_offset_x = -218px;
$exit_offset_y = -176px;
$exit_width = 8px;
$exit_height = 9px;
$exit_total_width = 244px;
$exit_total_height = 226px;
$exit_image = '../images/sprite.png';
$exit = 218px 176px -218px -176px 8px 9px 244px 226px '../images/sprite.png';
$login-link_x = 0px;
$login-link_y = 166px;
$login-link_offset_x = 0px;
$login-link_offset_y = -166px;
$login-link_width = 30px;
$login-link_height = 30px;
$login-link_total_width = 244px;
$login-link_total_height = 226px;
$login-link_image = '../images/sprite.png';
$login-link = 0px 166px 0px -166px 30px 30px 244px 226px '../images/sprite.png';
$logo_x = 0px;
$logo_y = 116px;
$logo_offset_x = 0px;
$logo_offset_y = -116px;
$logo_width = 203px;
$logo_height = 42px;
$logo_total_width = 244px;
$logo_total_height = 226px;
$logo_image = '../images/sprite.png';
$logo = 0px 116px 0px -116px 203px 42px 244px 226px '../images/sprite.png';
$logo_small_x = 38px;
$logo_small_y = 166px;
$logo_small_offset_x = -38px;
$logo_small_offset_y = -166px;
$logo_small_width = 122px;
$logo_small_height = 30px;
$logo_small_total_width = 244px;
$logo_small_total_height = 226px;
$logo_small_image = '../images/sprite.png';
$logo_small = 38px 166px -38px -166px 122px 30px 244px 226px '../images/sprite.png';
$mc_x = 218px;
$mc_y = 156px;
$mc_offset_x = -218px;
$mc_offset_y = -156px;
$mc_width = 19px;
$mc_height = 12px;
$mc_total_width = 244px;
$mc_total_height = 226px;
$mc_image = '../images/sprite.png';
$mc = 218px 156px -218px -156px 19px 12px 244px 226px '../images/sprite.png';
$mc2_x = 0px;
$mc2_y = 204px;
$mc2_offset_x = 0px;
$mc2_offset_y = -204px;
$mc2_width = 35px;
$mc2_height = 22px;
$mc2_total_width = 244px;
$mc2_total_height = 226px;
$mc2_image = '../images/sprite.png';
$mc2 = 0px 204px 0px -204px 35px 22px 244px 226px '../images/sprite.png';
$megafon_x = 167px;
$megafon_y = 58px;
$megafon_offset_x = -167px;
$megafon_offset_y = -58px;
$megafon_width = 40px;
$megafon_height = 39px;
$megafon_total_width = 244px;
$megafon_total_height = 226px;
$megafon_image = '../images/sprite.png';
$megafon = 167px 58px -167px -58px 40px 39px 244px 226px '../images/sprite.png';
$menu_x = 218px;
$menu_y = 61px;
$menu_offset_x = -218px;
$menu_offset_y = -61px;
$menu_width = 22px;
$menu_height = 18px;
$menu_total_width = 244px;
$menu_total_height = 226px;
$menu_image = '../images/sprite.png';
$menu = 218px 61px -218px -61px 22px 18px 244px 226px '../images/sprite.png';
$pencil_x = 218px;
$pencil_y = 134px;
$pencil_offset_x = -218px;
$pencil_offset_y = -134px;
$pencil_width = 14px;
$pencil_height = 14px;
$pencil_total_width = 244px;
$pencil_total_height = 226px;
$pencil_image = '../images/sprite.png';
$pencil = 218px 134px -218px -134px 14px 14px 244px 226px '../images/sprite.png';
$popup_close_x = 218px;
$popup_close_y = 0px;
$popup_close_offset_x = -218px;
$popup_close_offset_y = 0px;
$popup_close_width = 26px;
$popup_close_height = 26px;
$popup_close_total_width = 244px;
$popup_close_total_height = 226px;
$popup_close_image = '../images/sprite.png';
$popup_close = 218px 0px -218px 0px 26px 26px 244px 226px '../images/sprite.png';
$print_x = 218px;
$print_y = 34px;
$print_offset_x = -218px;
$print_offset_y = -34px;
$print_width = 18px;
$print_height = 19px;
$print_total_width = 244px;
$print_total_height = 226px;
$print_image = '../images/sprite.png';
$print = 218px 34px -218px -34px 18px 19px 244px 226px '../images/sprite.png';
$reload_x = 168px;
$reload_y = 166px;
$reload_offset_x = -168px;
$reload_offset_y = -166px;
$reload_width = 29px;
$reload_height = 29px;
$reload_total_width = 244px;
$reload_total_height = 226px;
$reload_image = '../images/sprite.png';
$reload = 168px 166px -168px -166px 29px 29px 244px 226px '../images/sprite.png';
$small-hamburger_x = 218px;
$small-hamburger_y = 111px;
$small-hamburger_offset_x = -218px;
$small-hamburger_offset_y = -111px;
$small-hamburger_width = 18px;
$small-hamburger_height = 15px;
$small-hamburger_total_width = 244px;
$small-hamburger_total_height = 226px;
$small-hamburger_image = '../images/sprite.png';
$small-hamburger = 218px 111px -218px -111px 18px 15px 244px 226px '../images/sprite.png';
$star_x = 218px;
$star_y = 87px;
$star_offset_x = -218px;
$star_offset_y = -87px;
$star_width = 16px;
$star_height = 16px;
$star_total_width = 244px;
$star_total_height = 226px;
$star_image = '../images/sprite.png';
$star = 218px 87px -218px -87px 16px 16px 244px 226px '../images/sprite.png';
$status-fail_x = 0px;
$status-fail_y = 58px;
$status-fail_offset_x = 0px;
$status-fail_offset_y = -58px;
$status-fail_width = 159px;
$status-fail_height = 50px;
$status-fail_total_width = 244px;
$status-fail_total_height = 226px;
$status-fail_image = '../images/sprite.png';
$status-fail = 0px 58px 0px -58px 159px 50px 244px 226px '../images/sprite.png';
$status-succes_x = 0px;
$status-succes_y = 0px;
$status-succes_offset_x = 0px;
$status-succes_offset_y = 0px;
$status-succes_width = 210px;
$status-succes_height = 50px;
$status-succes_total_width = 244px;
$status-succes_total_height = 226px;
$status-succes_image = '../images/sprite.png';
$status-succes = 0px 0px 0px 0px 210px 50px 244px 226px '../images/sprite.png';
$toggle_x = 234px;
$toggle_y = 176px;
$toggle_offset_x = -234px;
$toggle_offset_y = -176px;
$toggle_width = 7px;
$toggle_height = 4px;
$toggle_total_width = 244px;
$toggle_total_height = 226px;
$toggle_image = '../images/sprite.png';
$toggle = 234px 176px -234px -176px 7px 4px 244px 226px '../images/sprite.png';
$visa_x = 86px;
$visa_y = 204px;
$visa_offset_x = -86px;
$visa_offset_y = -204px;
$visa_width = 21px;
$visa_height = 8px;
$visa_total_width = 244px;
$visa_total_height = 226px;
$visa_image = '../images/sprite.png';
$visa = 86px 204px -86px -204px 21px 8px 244px 226px '../images/sprite.png';
$visa2_x = 43px;
$visa2_y = 204px;
$visa2_offset_x = -43px;
$visa2_offset_y = -204px;
$visa2_width = 35px;
$visa2_height = 22px;
$visa2_total_width = 244px;
$visa2_total_height = 226px;
$visa2_image = '../images/sprite.png';
$visa2 = 43px 204px -43px -204px 35px 22px 244px 226px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
