/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow_down_x = 109px;
$arrow_down_y = 135px;
$arrow_down_offset_x = -109px;
$arrow_down_offset_y = -135px;
$arrow_down_width = 7px;
$arrow_down_height = 4px;
$arrow_down_total_width = 203px;
$arrow_down_total_height = 149px;
$arrow_down_image = '../images/sprite.png';
$arrow_down = 109px 135px -109px -135px 7px 4px 203px 149px '../images/sprite.png';
$exit_x = 49px;
$exit_y = 135px;
$exit_offset_x = -49px;
$exit_offset_y = -135px;
$exit_width = 8px;
$exit_height = 9px;
$exit_total_width = 203px;
$exit_total_height = 149px;
$exit_image = '../images/sprite.png';
$exit = 49px 135px -49px -135px 8px 9px 203px 149px '../images/sprite.png';
$login-link_x = 48px;
$login-link_y = 50px;
$login-link_offset_x = -48px;
$login-link_offset_y = -50px;
$login-link_width = 30px;
$login-link_height = 30px;
$login-link_total_width = 203px;
$login-link_total_height = 149px;
$login-link_image = '../images/sprite.png';
$login-link = 48px 50px -48px -50px 30px 30px 203px 149px '../images/sprite.png';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 203px;
$logo_height = 42px;
$logo_total_width = 203px;
$logo_total_height = 149px;
$logo_image = '../images/sprite.png';
$logo = 0px 0px 0px 0px 203px 42px 203px 149px '../images/sprite.png';
$logo_small_x = 0px;
$logo_small_y = 97px;
$logo_small_offset_x = 0px;
$logo_small_offset_y = -97px;
$logo_small_width = 122px;
$logo_small_height = 30px;
$logo_small_total_width = 203px;
$logo_small_total_height = 149px;
$logo_small_image = '../images/sprite.png';
$logo_small = 0px 97px 0px -97px 122px 30px 203px 149px '../images/sprite.png';
$mc_x = 22px;
$mc_y = 135px;
$mc_offset_x = -22px;
$mc_offset_y = -135px;
$mc_width = 19px;
$mc_height = 12px;
$mc_total_width = 203px;
$mc_total_height = 149px;
$mc_image = '../images/sprite.png';
$mc = 22px 135px -22px -135px 19px 12px 203px 149px '../images/sprite.png';
$mc2_x = 157px;
$mc2_y = 50px;
$mc2_offset_x = -157px;
$mc2_offset_y = -50px;
$mc2_width = 35px;
$mc2_height = 22px;
$mc2_total_width = 203px;
$mc2_total_height = 149px;
$mc2_image = '../images/sprite.png';
$mc2 = 157px 50px -157px -50px 35px 22px 203px 149px '../images/sprite.png';
$megafon_x = 0px;
$megafon_y = 50px;
$megafon_offset_x = 0px;
$megafon_offset_y = -50px;
$megafon_width = 40px;
$megafon_height = 39px;
$megafon_total_width = 203px;
$megafon_total_height = 149px;
$megafon_image = '../images/sprite.png';
$megafon = 0px 50px 0px -50px 40px 39px 203px 149px '../images/sprite.png';
$menu_x = 173px;
$menu_y = 97px;
$menu_offset_x = -173px;
$menu_offset_y = -97px;
$menu_width = 22px;
$menu_height = 18px;
$menu_total_width = 203px;
$menu_total_height = 149px;
$menu_image = '../images/sprite.png';
$menu = 173px 97px -173px -97px 22px 18px 203px 149px '../images/sprite.png';
$pencil_x = 0px;
$pencil_y = 135px;
$pencil_offset_x = 0px;
$pencil_offset_y = -135px;
$pencil_width = 14px;
$pencil_height = 14px;
$pencil_total_width = 203px;
$pencil_total_height = 149px;
$pencil_image = '../images/sprite.png';
$pencil = 0px 135px 0px -135px 14px 14px 203px 149px '../images/sprite.png';
$popup_close_x = 123px;
$popup_close_y = 50px;
$popup_close_offset_x = -123px;
$popup_close_offset_y = -50px;
$popup_close_width = 26px;
$popup_close_height = 26px;
$popup_close_total_width = 203px;
$popup_close_total_height = 149px;
$popup_close_image = '../images/sprite.png';
$popup_close = 123px 50px -123px -50px 26px 26px 203px 149px '../images/sprite.png';
$reload_x = 86px;
$reload_y = 50px;
$reload_offset_x = -86px;
$reload_offset_y = -50px;
$reload_width = 29px;
$reload_height = 29px;
$reload_total_width = 203px;
$reload_total_height = 149px;
$reload_image = '../images/sprite.png';
$reload = 86px 50px -86px -50px 29px 29px 203px 149px '../images/sprite.png';
$toggle_x = 94px;
$toggle_y = 135px;
$toggle_offset_x = -94px;
$toggle_offset_y = -135px;
$toggle_width = 7px;
$toggle_height = 4px;
$toggle_total_width = 203px;
$toggle_total_height = 149px;
$toggle_image = '../images/sprite.png';
$toggle = 94px 135px -94px -135px 7px 4px 203px 149px '../images/sprite.png';
$visa_x = 65px;
$visa_y = 135px;
$visa_offset_x = -65px;
$visa_offset_y = -135px;
$visa_width = 21px;
$visa_height = 8px;
$visa_total_width = 203px;
$visa_total_height = 149px;
$visa_image = '../images/sprite.png';
$visa = 65px 135px -65px -135px 21px 8px 203px 149px '../images/sprite.png';
$visa2_x = 130px;
$visa2_y = 97px;
$visa2_offset_x = -130px;
$visa2_offset_y = -97px;
$visa2_width = 35px;
$visa2_height = 22px;
$visa2_total_width = 203px;
$visa2_total_height = 149px;
$visa2_image = '../images/sprite.png';
$visa2 = 130px 97px -130px -97px 35px 22px 203px 149px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
