extends ../layouts/default

block head
	- pageTitle = 'Перевод между своими счетами';

block scripts
	+script(['common.js'])

block content
	.b-content
		.h-wrap
			h1 Оплата мобильного телефона
			//start b-transfer
			.b-transfer
				.b-transfer__el.b-transfer__el_left.b-transfer__el_no_transfer
					h2 Счет для оплаты
					form.b-form
						.b-form__line
							label.b-form__label Счет
							.b-form__input.b-form__input_long.b-fselect
								.b-fselect__main(data-value="0") 
									span.gray Позитрон  
									|...002119 
									.b-fselect__right 180 560
										span.rubl o
								ul.b-fselect__dropdown
									li(data-value="0")
										span.gray Позитрон  
										|...002118 
										.b-fselect__right 180 560
											span.rubl o
									li(data-value="1")
										span.gray Позитрон  
										|...002117 
										.b-fselect__right 180 562
											span.rubl o
									li(data-value="2")
										span.gray Позитрон  
										|...002116 
										.b-fselect__right 180 563
											span.rubl o
						.b-form__line.b-form__line_rubl
							label.b-form__label Сумма
							input.b-form__input.js-number-only.js-price.js-sum(type="text", name="", value="500")
						.b-form__line
							.b-form__label
							.b-form__sdesc На счету: 180 500
								span.rubl o
				.b-transfer__el.b-transfer__el_right.b-transfer__el_no_transfer
					.b-transfer__operator
					h2 Куда платим
					form.b-form
						.b-form__line
							label.b-form__label Телефон
							.b-form__tell-bl
								span +7
								input.b-form__input.js-number-only.js-code(type="text", name="")
								input.b-form__input.js-number-only.js-number-body(type="text", name="")
							
						.b-form__line.b-form__line_rubl
							label.b-form__label Зачислим
							input.b-form__input.b-form__input_mobile.js-number-only.js-price.js-total(type="text", name="", value="490",data-procent="2",data-cr="1")
							.b-form__desc Комиссия 2%
						.b-form__line
							.b-form__label
							.b-form__sdesc.b-form__sdesc_i Комиссия 2%
			//end b-transfer
			.btn_cont 
				button.btn Перевести