<form class="b-form">
	<div class="b-form__line">
		<label class="b-form__label">Счет</label>
		<div class="b-form__input b-form__input_long b-fselect">
			<div data-value="0" class="b-fselect__main"><span class="gray">{{controller.currentAccount.name}}</span>{{controller.currentAccount.mask}}
				<div class="b-fselect__right">{{controller.currentAccount.balance.avaliable}}<span class="rubl">o</span></div>
			</div>
			<ul class="b-fselect__dropdown">
				{{#each account in controller}}
				<li data-value="{{account.order}}"><span class="gray">{{account.name}}  </span>{{account.mask}}
					<div class="b-fselect__right">
						{{account.balance.avaliable}}
						{{#if account.currency.dollar}}<span>$</span>
						{{else}}
						{{#if account.currency.euro}}<span>&euro;</span>
						{{else}}<span class="rubl">o</span>{{/if}}
						{{/if}}
					</div>
				</li>
				<!--
				<li data-value="1"><span class="gray">Позитрон  </span>...002117
					<div class="b-fselect__right">180 562<span class="rubl">o</span>
					</div>
				</li>
				<li data-value="2"><span class="gray">Позитрон  </span>...002116
					<div class="b-fselect__right">180 563<span class="rubl">o</span>
					</div>
				</li>-->
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="b-form__line b-form__line_rubl">
		<label class="b-form__label">Сумма</label>
		<input type="text" name="" value="250 000" class="b-form__input js-number-only js-price js-sum">
		<div class="b-form__desc b-form__desc_reg">
			На счету: {{controller.currentAccount.balance.avaliable}}
			{{#if controller.currentAccount.currency.dollar}}<span>$</span>
			{{else}}
			{{#if controller.currentAccount.currency.euro}}<span>&euro;</span>
			{{else}}<span class="rubl">o</span>{{/if}}
			{{/if}}
		</div>
	</div>
	<div class="b-form__line">
		<div class="b-form__label"></div>
		<div class="b-form__sdesc">
			На счету:  {{controller.currentAccount.balance.avaliable}}
			{{#if controller.currentAccount.currency.dollar}}<span>$</span>
			{{else}}
			{{#if controller.currentAccount.currency.euro}}<span>&euro;</span>
			{{else}}<span class="rubl">o</span>{{/if}}
			{{/if}}
		</div>
	</div>
</form>