<div class="h-wrap">
<div class="h-wrap_left">
	<h1>Список счетов<span class="b-sort"><i>Сортировать </i><span class="b-sort__toggler">по банкам</span><span class="b-sort__toggler b-sort__toggler_small">Сортировать</span><span class="b-sort__dropdown"><a class="b-sort__link b-sort__link_disabled">по банкам</a><a href="account_list2.html" class="b-sort__link">по типу</a></span></span></h1>
</div>
<!--end h-wrap_left-->
<!--start h-wrap_right-->
<div class="h-wrap_right"></div>
<!--end h-wrap_right-->
<div class="clr"></div>
<!--start h-wrap_left-->
<div class="h-wrap_left">
	<!--start b-bank-->
	<div class="b-bank">
		<div class="b-bank__hdr">
			<div class="b-bank__logo">
				<img src="dist/assets/images/bank_logo.png" alt="">
			</div>
			<div class="b-bank__summ">На счетах: <span class="b-bank__total">2 157 500<i class="rubl">o</i></span>
			</div>
		</div>
		<div class="b-bank__body open">
			<!--start b-bank__wrap-->
			{{#each list}}
			<div class="b-bank__wrap">
				<div class="b-bank__acc-summ">
					{{balance.avaliable}}
					{{#if currency.dollar}}<span>$</span>
					{{else}}
					{{#if currency.euro}}<span>&euro;</span>
					{{else}}<span class="rubl">o</span>{{/if}}
					{{/if}}
				</div>
				<div class="b-bank__acc-name">
					<div class="b-bank__name"><span>{{name}}</span>
						<div class="b-bank__small-number">...{{mask}}</div>
					</div>
					{{#each cardList}}
						<div class="b-bank__card">
							<a href="" class="gray">{{pan}}</a>
							{{#if wps.mc}}
							<i class="mc"></i>
							{{else}}
							<i class="visa"></i>
							{{/if}}
						</div>
					{{/each}}					
					<div class="b-bank__hide">
						<div class="b-bank__type_role">{{type}}</div><a href="operations?account:{{number}}" class="line">История операций</a>
					</div>
				</div>
				<div class="b-bank__type">
					<div class="b-bank__type_number">{{number}}</div>
					<div class="b-bank__show">
						<div class="b-bank__type_role">{{type}}</div><a href='operations?"account":"{{number}}"' class="line">История операций</a>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		<div class="b-bank__toggler open"><span>Свернуть</span>
		</div>
	</div>
	<!--end b-bank-->
	<!--start b-bank-->
	<div class="b-bank">
		<div class="b-bank__hdr">
			<div class="b-bank__logo">Банк 2</div>
			<div class="b-bank__summ">На счетах: <span class="b-bank__total">48 500<i class="rubl">o</i></span>
			</div>
		</div>
		<div class="b-bank__body">
			<!--start b-bank__wrap-->
			<div class="b-bank__wrap">
				<!--start b-bank__acc-summ -->
				<div class="b-bank__acc-summ">192 000<i class="rubl">o</i>
				</div>
				<!--end b-bank__acc-summ -->
				<!--start b-bank__name-->
				<div class="b-bank__acc-name">
					<div class="b-bank__name"><span>Позитрон</span>
						<div class="b-bank__small-number">...002119</div>
					</div>
					<div class="b-bank__card"><a href="" class="gray">9968 24** **** 5496 </a><i class="visa"></i>
					</div>
					<div class="b-bank__card"><a href="" class="gray">4569 78** **** 1456 </a><i class="mc"></i>
					</div>
				</div>
				<!--end b-bank__aname-->
				<!--start b-bank__type-->
				<div class="b-bank__type">
					<div class="b-bank__type_number">40817978202000002119</div>
					<div class="b-bank__show">
						<div class="b-bank__type_role">Зарплатный</div><a href="" class="line">История операций</a>
					</div>
				</div>
				<!--end b-bank__type-->
			</div>
			<!--end b-bank__wrap-->
			<!--start b-bank__wrap	-->
			<div class="b-bank__wrap">
				<!--start b-bank__acc-summ-->
				<div class="b-bank__acc-summ">48 722<i>$</i>
					<div class="b-bank__acc-summ_convert">1 912 560<i class="rubl">o</i>
					</div>
				</div>
				<!--end b-bank__acc-summ -->
				<div class="b-bank__acc-name">
					<div class="b-bank__name"><span>На квартиру</span>
						<div class="b-bank__small-number">...002119</div>
					</div>
					<div class="b-bank__card"><a href="" class="gray">7913 54** **** 1215 </a><i class="visa"></i>
					</div>
				</div>
				<!--start b-bank__type-->
				<div class="b-bank__type">
					<div class="b-bank__type_number">40817810302000000658</div>
					<div class="b-bank__show">
						<div class="b-bank__type_role">Сберегательный</div><a href="" class="line">История операций</a>
					</div>
				</div>
				<!--end b-bank__type-->
			</div>
			<!--end b-bank__wrap-->
		</div>
		<div class="b-bank__toggler"><span>Показать счета</span>
		</div>
	</div>
	<!--end b-bank-->
</div>
<div class="h-wrap_right">
	<div class="b-right-menu">
		<div class="b-right-menu__close"></div>
		<div class="b-right-menu__wrap">
			<h3>Платежи</h3>
			<ul class="b-right-menu__list">
				<li><a href="">Мобильный телефон</a>
				</li>
				<li><a href="">Интернет</a>
				</li>
				<li><a href="">Оплата ЖКХ</a>
				</li>
				<li><a href="">Штрафы</a>
				</li>
				<li><a href="">Прочее</a>
				</li>
			</ul>
		</div>
		<div class="b-right-menu__wrap">
			<h3>Переводы</h3>
			<ul class="b-right-menu__list">
				<li><a href="">Между своими счетами</a>
				</li>
				<li><a href="">Другому клиенту банка</a>
				</li>
				<li><a href="">По номеру счета</a>
				</li>
				<li><a href="">По реквизитам</a>
				</li>
				<li><a href="">Международный перевод</a>
				</li>
			</ul>
		</div>
	</div>
</div>
					
</div>
