<div class="h-wrap">
	<h1>Подтвердите {{operation}}</h1>
	<div class="wrapper">
		<section class="confirm-section">
			<div class="confirm-info">
				<ul class="confirm-list">
					<li class="confirm-item"><span class="confirm-name">Со счета</span><span class="confirm-value">Позитрон 423156000000154967 (RUB)</span>
					</li>
					<li class="confirm-item"><span class="confirm-name">Получать</span><span class="confirm-value">На квартиру</span>
					</li>
					<li class="confirm-item"><span class="confirm-name">Счет получателя</span><span class="confirm-value">7956234000004649746 (USD)</span>
					</li>
					<li class="confirm-item"><span class="confirm-name">Назначение перевода</span><span class="confirm-value">Перевод между счетами</span>
					</li>
					<li class="confirm-item"><span class="confirm-name">Сумма перевода</span><span class="confirm-value">62 500 $</span>
					</li>
					<li class="confirm-item"><span class="confirm-name">Комиссия</span><span class="confirm-value">Без комиссии</span>
					</li>
					<li class="confirm-item"><span class="confirm-name">Дата</span><span class="confirm-value">10 октября 2014</span>
					</li>
					<li class="confirm-item"><span class="confirm-name">Время</span><span class="confirm-value">12:34:05</span>
					</li>
				</ul>
			</div>
		</section>
		<section class="confirm-sms">
			<div class="confirm-sms-box"><strong class="sms-box-title"><a href="#" class="sms-box-getpass">Получить пароль</a> по СМС</strong>
				<form class="sms-box-inputs">
					<input value="" placeholder="1234253" class="sms-box-pass">
					<button type="submit" class="btn">Подтвердить</button>
				</form>
			</div>
			<p class="confirm-sms-alert">Перед отправкой перевода, пожалуйста, проверьте правильность введенных данных и подтвердите, что данный платеж не связан с расчетами между резидентами и нерезидентами и не является налоговым платежом.</p>
		</section>
	</div>
</div>