<div class="h-wrap">
	<div class="wrapper main-auth">
		<div class="payment-template">
			<figure class="payment-item">
				<header class="payment-header">
					<h2 class="payment-title title--megafon"><img src="dist/assets/images/megafon.png" alt="" class="mobile-operator"><a href="#">На телефон</a></h2><span class="payment-value">+7 929 566-24-89</span>
				</header>
				<div class="payment-action">
					<div class="payment-action-input--holder">
						<input type="text" class="text-field payment-action-input">
					</div>
					<button type="button" class="btn payment-action-btn">Оплатить</button>
				</div>
			</figure>
			<figure class="payment-item">
				<header class="payment-header">
					<h2 class="payment-title title--mts"><img src="dist/assets/images/yota.png" alt="" class="mobile-operator"><a href="#">Маме на телефон</a></h2><span class="payment-value">+7 929 566-24-89</span>
				</header>
				<div class="payment-action">
					<div class="payment-action-input--holder">
						<input type="text" class="text-field payment-action-input">
					</div>
					<button type="button" class="btn payment-action-btn">Оплатить</button>
				</div>
			</figure>
			<figure class="payment-item">
				<header class="payment-header">
					<h2 class="payment-title title--mts"><img src="dist/assets/images/yota.png" alt="" class="mobile-operator"><a href="#">Маме на телефон</a></h2><span class="payment-value">+7 929 566-24-89</span>
				</header>
				<div class="payment-action">
					<div class="payment-action-input--holder">
						<input type="text" class="text-field payment-action-input">
					</div>
					<button type="button" class="btn payment-action-btn">Оплатить</button>
				</div>
			</figure>
			<figure class="payment-item">
				<header class="payment-header">
					<h2 class="payment-title title--mts"><a href="#">Маме на телефон</a></h2><span class="payment-value payment-value--visa"><b></b>...2489</span>
				</header>
				<div class="payment-action">
					<div class="payment-action-input--holder">
						<input type="text" class="text-field payment-action-input">
					</div>
					<button type="button" class="btn payment-action-btn">Оплатить</button>
				</div>
			</figure>
			<figure class="payment-item">
				<header class="payment-header">
					<h2 class="payment-title title--mts"><a href="#">Маме на телефон</a></h2><span class="payment-value">+7 929 566-24-89</span>
				</header>
				<div class="payment-action">
					<div class="payment-action-input--holder usd">
						<input type="text" class="text-field payment-action-input">
					</div>
					<button type="button" class="btn payment-action-btn">Оплатить</button>
				</div>
			</figure>
			<figure class="payment-item">
				<header class="payment-header">
					<h2 class="payment-title title--mts"><a href="#">Маме на телефон</a></h2><span class="payment-value">+7 929 566-24-89</span>
				</header>
				<div class="payment-action">
					<div class="payment-action-input--holder euro">
						<input type="text" class="text-field payment-action-input">
					</div>
					<button type="button" class="btn payment-action-btn">Оплатить</button>
				</div>
			</figure>
			<figure class="payment-item">
				<header class="payment-header">
					<h2 class="payment-title title--mts"><a href="#">Маме на телефон</a></h2><span class="payment-value">+7 929 566-24-89</span>
				</header>
				<div class="payment-action">
					<div class="payment-action-input--holder rub">
						<input type="text" class="text-field payment-action-input">
					</div>
					<button type="button" class="btn payment-action-btn">Оплатить</button>
				</div>
			</figure><a href="#" class="show-all-template"><span>Показать все <b class="template-value">8</b> шаблонов</span></a>
		</div>
		<div class="button-holder"><a href="#" class="btn-white btn-templats"><span>Мои шаблоны</span></a><a href="#" class="btn-blue btn-operations"><span>Частые операции</span></a>
		</div>
		<div class="content-wrapper">
			<section class="wallet-info">
				<div class="wallet-holder">
					<header class="wallets-value">
						<img src="dist/assets/images/2tbank.png" alt="" class="bank-logo"><strong class="wallets-money">На счетаx: <span>2 157 500<b class="rubl">o</b></span></strong>
					</header>
					<div class="wallet-item"><span class="wallet-name"><a href="#">Позитрон</a></span><strong class="wallet-number">40817978202000002119<span>Зарплатный</span></strong>
						<div class="wallet-value"><span class="wallet-value--current">192 000<b class="rubl">o</b></span>
						</div>
					</div>
					<div class="wallet-item"><span class="wallet-name"><a href="#">Позитрон</a></span><strong class="wallet-number">40817978202000002119</strong>
						<div class="wallet-value"><span class="wallet-value--current">192 000 $</span><span class="wallet-value--translated">(1 920 400<b class="rubl">o</b>)</span>
						</div>
					</div>
				</div>
				<div class="ad">
					<h2 class="ad-title">Не хватает до зарплаты? Попробуйте наш «<a href="#">Кредит на карту</a>»</h2>
					<p class="ad-text">Единая ставка 19,9%, нужен только паспорт, 3% минимальный платеж «кредитиные каникулы», на карту любого банка.</p>
				</div>
				<div class="operations-holder">
					<header class="operations-header">
						<h2 class="operations-title">Последние операции</h2><a href="#" class="operations-more">По всем счетам</a>
					</header>
					<div class="operations-item">
						<time datetime="14.10.2014 12:00:35" class="operations-time succes">14.10.2014<span>12:00:35</span>
						</time><strong class="operations-name">Пополнение счет <a href="#">На квартиру</a></strong><span class="operations-value">50 000<b class="rubl">o</b></span>
					</div>
					<div class="operations-item">
						<time datetime="14.10.2014 12:00:35" class="operations-time fail">14.10.2014<span>12:00:35</span>
						</time><strong class="operations-name">Пополнение счет <a href="#">На квартиру</a></strong><span class="operations-value euro">50 000<b class="rubl">o</b></span>
					</div>
					<div class="operations-item">
						<time datetime="14.10.2014 12:00:35" class="operations-time processing">14.10.2014<span>12:00:35</span>
						</time><strong class="operations-name">Пополнение счет <a href="#">На квартиру</a></strong><span class="operations-value usd">50 000<b class="rubl">o</b></span>
					</div>
				</div>
			</section>
			<aside class="side-bar">
				<div class="operations">
					<h2>Частые операции</h2><a href="#" class="operations-link">Мобильный телефон</a><a href="#" class="operations-link">Интернет</a><a href="#" class="operations-link">Оплата ЖКХ</a><a href="#" class="operations-link">Между своими счетами</a><a href="#" class="operations-link">Другому клиенту банка</a>
				</div>
				<div class="messages"><a href="#" class="messages-title">Сообщения<span class="messages-value">1</span></a>
					<p class="message-text">Добро пожаловать в ТЕМПЛ! Мы рады вас приветствовать</p>
				</div>
				<div class="currency-rate"><a href="#" class="rate-title">Курс валюты</a>
					<div class="rate-item dollar"><span class="growup">$ 40.1523 </span><span class="fall">40.3412</span>
					</div>
					<div class="rate-item euro"><span class="growup">€ 40.1523</span><span class="fall">40.3412</span>
					</div>
				</div>
			</aside>
		</div>
	</div>
</div>
			