<div class="h-wrap">
	<h1 class="page-title">{{operation}} исполнен</h1>
	<h2 class="page-subtitle">{{operationName}} успешно выполнен.</h2>
	<div class="wrapper">
		<main class="main-section--list">
			<figure class="status status--success"><a href="#" class="status-details"><span>Подробно</span></a><a href="#" class="status-print"><span>Распечатать</span></a>
			</figure>
		</main>
		<article class="sub-section">
			<!--<p class="description-text description-text--status">Перевод средств между счетами будет исполнен в течении 3 дней. Если этого не произойдет, обратитесь в <a href="#">службу поддержки</a> ТЕМПЛ Банка.</p>-->
			<p class="description-text description-text--status">{{description}}</p>
		</article>
	</div><a href="#" class="save-template save-template--status"><span>Сохранить платеж в качестве шаблона</span></a>
</div>