.b-footer
	.h-wrap
		.b-footer__copy © 2014 ТЕМПЛ Банк
		a(href="+78001949465").b-footer__tell 8 (800) 194-94-65
		nav.b-footer__menu
			a.b-footer__link.line(href="") Правила                
			a.b-footer__link.line(href="") Условия использования
			a.b-footer__link.line(href="") Оферта
			a.b-footer__link.line(href="") Тарифы
.b-footer.b-footer_mobile
	.h-wrap
		a(href="+78001949465").b-footer__tell 8 (800) 194-94-65
		nav.b-footer__menu
			a.b-footer__link.line(href="") Правила                
			a.b-footer__link.line(href="") Условия использования
			a.b-footer__link.line(href="") Оферта
			a.b-footer__link.line(href="") Тарифы
		.b-footer__copy © 2014 ТЕМПЛ Банк
		
		